/* Descontinuado */
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin rowCenter {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@mixin columCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin row {
    display: flex;
    flex-direction: row;
}
/* Descontinuado */
